

.dropdown {
    position: relative;
    display: inline-block;
    align-content: center;
  }

  .dropdown-item {
    background:brown;
    color: antiquewhite;
  }

  h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: brown;
    color: blanchedalmond;
  }

  #info_feriado.div.h3 {
    text-align: center;
  }

  #contenedor {
    margin-left:  10px;
    margin-right: 10px;

  }

 #bandera {
  margin: 50px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.8);
 }